body {
    background-color: #013e6d;
}
header {
    font-family: 'Osvaldo', sans-serif;
    text-align: center;
    color: #00ffff;
    
}

section {
    display: flex;
    background-color: #001e36;
    box-shadow: 5px 5px 10px  #00ffff63;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: #00ffff;
    text-align: center;
    height: 200px;
    align-items: center;
    justify-content: center;
    
}


#form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-group {
    display: flex;
    align-items: center;
    margin: 10px 0;
    width: 100%;
}

.form-group label {
    width: 30%;
    text-align: right;
    margin-right: 10px;
}

.form-group input[type='text'],
.form-group input[type='password'] {
    width: 35%;
}

.password-container {
    position: relative;
}

.password-container input[type='checkbox'] {
    position: absolute;
    right: 162px;
    top: 30%;
    transform: translateY(-50%);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;

}

input#versenha {
    box-shadow: none;
    cursor: pointer;
}


input {
    color: #00ffff;
    box-shadow: 2px 2px 4px #00ffff;
    background-color: #013e6d;
    border: none;
}

input:hover {
    background-color: #013e6d;
    color: #00ffff;
    box-shadow: none;

}

input#botaoacessar,
input#botaovoltar {
    cursor: pointer;
}