body {
    background-color: #013e6d;
}
header {
    font-family: 'Osvaldo', sans-serif;
    text-align: center;
    color: #00ffff;
    
}

section {
    background-color: #001e36;
    box-shadow: 5px 5px 10px #00ffff73;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: #00ffff;
}