body {
    background-color: #013e6d;
}
header {
    font-family: 'Osvaldo', sans-serif;
    text-align: center;
    color: #00ffff;
    
}

section {
    display: flex;
    flex-direction: column;
    background-color: #001e36;
    box-shadow: 5px 5px 10px  #00ffff63;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: #00ffff;
    text-align: center;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.form-group {
    display: flex;
    align-items: center;
    margin: 7px;
}

.form-group label {
    min-width: 100px;
    text-align: right;
    margin-right: 10px;
}

.password-container {
display: flex;
align-items: center;
position: relative;
width: 100%;
}

#senha {
    width: 141px;
}

#novasenha {
    width: 141px;
}

.password-container input[type='password'],
.password-container input[type='text'] {
width: calc(100% - 40px);
padding-right: 30px;
}

.password-container input[type='checkbox'] {
position: absolute;
right: 19px;
top: 56%;
margin: -1px;
transform: translateY(-50%);
cursor: pointer;
}

#showPassword,
#showPasswordConfirm {
    box-shadow: none;
}

#area-cadastro-1 {
    padding: 15px;
}

#area-cadastro-2 {
    display: flex;
    gap: 10px;
}
input {
    color: #00ffff;
    box-shadow: 2px 2px 4px;
    background-color: #013e6d;
    border: none;
}

input:hover {
    background-color: #013e6d;
    color: #00ffff;
    box-shadow: none;

}

input#botao-cadastrar,
input#botao-voltar {
    cursor: pointer;
}
